@using Microsoft.AspNetCore.Components.Routing

<nav class="flex-column">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="nav-link" href="/teacher">
        Lehrperson
    </NavLink>

    <NavLink class="nav-link" href="/principal">
        Prorektor
    </NavLink>
</nav>
