@page "/"

<PageTitle>Home</PageTitle>

<div class="card p-4">
    <h2>Schulverwaltungssystem</h2>

    <p>
        Dieses Tool dient zur Verwaltung von <b>Zeugnisnoten</b> und
        <b>Nachträglichen Notenänderungen</b>.
    </p>

    <ul>
        <li>
            <b>Lehrpersonen</b> können Noten einsehen und Änderungsanträge stellen.
        </li>
        <li>
            <b>Prorektoren</b> prüfen diese Anträge und genehmigen oder lehnen sie ab.
        </li>
    </ul>

    <p class="mt-3">
        Bitte melden Sie sich an, um fortzufahren.
    </p>
</div>
